:root {
	--orange: #e96900;
	--yellow: #FFF285;
	--white: #ffffff;
	--green: #42b983;
	--black: #000000;
	--blue: #34495e;
	--gray: #f8f8f8;
	--red: #f66666;

	--green-2: #37946a;
	--black-2: #545454;
	--blue-2: #2973b7;
	--gray-2: #e8e6e6;
	--gray-3: #a5a5a5;
	--gray-4: #6b6b6b;
}