/************************************/
/*** MODAL CATEGORY
/************************************/
/*** MODAL CONTAINER ***/
.modal-category-container {
  z-index: 1;
  width: 100vw;
  height: 100vh;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}

  .modal-category {
    width: 90vmin;
    transition: all 0.2s;
    border-radius: 0.2rem;
    box-shadow: 0 5px 5px -2px rgba(0, 0, 0, 0.2);
  }

  .modal-category:hover {
    box-shadow: 0 8px 8px -4px rgba(0, 0, 0, 0.2);
  }

    /*** MODAL HEADER ***/
    .modal-category__head {
      display: flex;
      padding: 1rem;
      align-items: center;
      justify-content: space-between;
    }

      .modal-category-icon__close {
        cursor: pointer;
        transition: color 0.2s;
      }

      .modal-category-icon__close:hover {
        color: var(--black);
      }

    /*** MODAL RULE ***/
    .modal-category__rule {
      height: 1px;
      background-color: var(--gray-2);
    }

    /*** MODAL CONTENT ***/
    .modal-category__content {
      padding: 1rem;
    }

      .modal-category-form {
        display: flex;
        flex-direction: column;
      }

        .modal-category-form__name,
        .modal-category-form__color {
          margin-bottom: 1.5rem;
        }

        .modal-category-form__name {
          padding: 0.7rem;
        }

        .modal-category-form__color:hover {
          cursor: pointer;
        }

        .modal-category-form__color:focus,
        .modal-category-form__name:focus {
          outline-width: 1px;
        }

          .modal-category-form__name::placeholder {
            font-weight: 100;
            color: var(--gray-3);
          }

    /*** MODAL FOOTER ***/
    .modal-category__footer {
      display: flex;
      align-items: center;
      padding: 0.7rem 1rem;
      justify-content: flex-end;
    }

      .modal-category-button__save,
      .navigation-category-button__save {
        border: none;
        cursor: pointer;
        color: var(--white);
        padding: 0.5rem 1rem;
        transition: all 0.2s;
        border-radius: 0.1rem;
        background-color: var(--green);
      }

      .modal-category-button__save:hover,
      .navigation-category-button__save:hover {
        background: var(--green-2);
      }

      .modal-category-button__save:focus {
        outline-width: 1px;
      }



/************************************/
/*** NAVIGATION
/************************************/
.navigation-container {
  top: 0;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  padding: 1rem 10vmin;
  justify-content: space-between;
  box-shadow: 0 0 1px rgba(0,0,0,0.25);
  background-color: rgba(255, 255, 255, 0.8);
}

  .navigation-ul {
    list-style: none;
  }
    .navigation-category-button__save {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .navigation-category-button__save:focus {
      outline-width: 1px;
    }



/************************************/
/*** MAIN CONTAINER
/************************************/
.main-container {
  display: flex;
  flex-wrap: wrap;
  /* max-height: 90vh; */
  margin-top: 4.47rem;
  padding: 5vmax 10vmin;
  justify-content: space-between;
}



/************************************/
/*** CATEGORY CARD
/************************************/
/** CONTAINER **/
.category-card__container {
  /* width: 20%; */
  width: 30%;
  margin: 2rem;
  border-radius: 0.2rem;
  transition: box-shadow 0.2s;
  box-shadow: 0 0 1px rgba(0,0,0,0.25);
  
}

.category-card__container:hover {
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
}

  /** HEADER **/
  .category-card__header {
    display: flex;
    align-items: center;
    padding: 1.5rem 0.5rem;
    justify-content: center;
    box-shadow: 0 0 1px rgba(0,0,0,0.25);
  }

  /** CONTENT **/
  .category-card__content {
    display: flex;
    max-height: 50vmin;
    overflow-y: scroll;
    flex-direction: column;
    padding: 0 1.5rem 1.5rem 1.5rem;
  }

    .category-card__content--heading {
      padding: 1.5rem 0 1rem 0;
    }

    .category-card__task:hover {
      /* cursor: pointer; */
    }

  /** FOOTER **/
  .category-card__footer {
    display: flex;
    padding: 1rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
  }
  
    .category-card-button__newTask,
    .category-card-button__deleteTask {
      border: none;
      cursor: pointer;
      margin: 0.3rem 0.5rem;
      border-radius: 0.1rem;
      padding: 0.7rem 1.2rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .category-card-button__newTask {
      border: 1px solid var(--green);
      transition: background-color 0.2s;
    }

    .category-card-button__newTask:hover {
      border: 1px solid var(--green-2);
      background-color: var(--green-2);
    }
    
    .category-card-button__deleteTask {
      color: var(--red);
      transition: all 0.2s;
      border: 1px solid var(--red);
    }

    .category-card-button__deleteTask:hover {
      color: var(--white);
      background-color: var(--red);
    }

      .category-card-button__newTask--icon,
      .category-card-button__deleteTask--icon {
        font-size: 0.87rem;
      }