/************************************/
/*** MAIN
/************************************/
.main-container {
  height: 100vh;
  display: flex;
  padding: 0 10vmin;
  align-items: center;
  justify-content: center;

}

/************************************/
/*** MODAL CATEGORY
/************************************/
/*** MODAL CONTAINER ***/
.modal-category-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}

  .modal-category {
    width: 90vmin;
    transition: all 0.2s;
    border-radius: 0.2rem;
    box-shadow: 0 5px 5px -2px rgba(0, 0, 0, 0.2);
  }

  .modal-category:hover {
    box-shadow: 0 8px 8px -4px rgba(0, 0, 0, 0.2);
  }

    /*** MODAL HEADER ***/
    .modal-category__head {
      display: flex;
      padding: 1rem;
      align-items: center;
      justify-content: space-between;
    }

      .modal-category-icon__close {
        cursor: pointer;
        transition: color 0.2s;
      }

      .modal-category-icon__close:hover {
        color: var(--black);
      }

    /*** MODAL RULE ***/
    .modal-category__rule {
      height: 1px;
      background-color: var(--gray-2);
    }

    /*** MODAL CONTENT ***/
    .modal-category__content {
      padding: 1rem;
    }

      .modal-category-form {
        display: flex;
        flex-direction: column;
      }

        .modal-category-form__name,
        .modal-category-form__color {
          margin-bottom: 1.5rem;
        }

        .modal-category-form__name {
          padding: 0.7rem;
        }

        .modal-category-form__color:hover {
          cursor: pointer;
        }

        .modal-category-form__color:focus,
        .modal-category-form__name:focus {
          outline-width: 1px;
        }

          .modal-category-form__name::placeholder {
            font-weight: 100;
            color: var(--gray-3);
          }

    /*** MODAL FOOTER ***/
    .modal-category__footer {
      display: flex;
      align-items: center;
      padding: 0.7rem 1rem;
      justify-content: flex-end;
    }

      .modal-category-button__save,
      .navigation-category-button__save {
        border: none;
        cursor: pointer;
        color: var(--white);
        padding: 0.5rem 1rem;
        transition: all 0.2s;
        border-radius: 0.1rem;
        background-color: var(--green);
      }

      .modal-category-button__save:hover,
      .navigation-category-button__save:hover {
        background: var(--green-2);
      }

      .modal-category-button__save:focus {
        outline-width: 1px;
      }



/************************************/
/*** NAVIGATION
/************************************/
.navigation-container {
  top: 0;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  padding: 1rem 10vmin;
  justify-content: space-between;
  box-shadow: 0 0 1px rgba(0,0,0,0.25);
  background-color: rgba(255, 255, 255, 0.3);
}

  .navigation-ul {
    list-style: none;
  }

    .navigation-category-button__save:focus {
      outline-width: 1px;
    }